on: push
name: Run stuff

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  run-stuff:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - windows-latest
        - ubuntu-latest
        - macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Check bash version
      run: bash --version

    - name: Install newest Bash
      run: brew install bash
      if: ${{ matrix.os == 'macos-latest' }}

    - name: Run stuff
      run: chmod +x ./stuff && ./stuff
